/* Global set-up */

* { 
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;  
  color: #383838;
  text-align: center;
  background-color: whitesmoke;  
}

h2, 
nav li,
.footer-nav-bigger li {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 90%;
}

h2 {
  margin-bottom: 30px;
}

h3 {
  font-weight: 500;
  margin-top: 30px;
}

a {
  text-decoration: none;
}

a:visited {
  color: #383838;
}

a:hover {
  color: black;
}

address {
  display: block;
  padding-top: 1rem;
}

/* Section styles */

nav ul {
  padding: 0;
}

nav li {
  padding: 10px;
  margin: 5px;
  list-style: none;
  display: block;
  background-color: white;
}

header p,
.contact p,
.contact address {
  color: dimgray;
  font-size: 110%;
}

header {
  padding: 0 15px 30px;
}

header h1 {
  padding: .5rem;
}

.portfolio {
  background-color: white;
  padding-top: 40px; /* this padding needed for bg color line */
  padding-bottom: 10px;
  font-size: 90%;
}

.portfolio h2 {
  margin-bottom: 50px;
}

.portfolio p {
  padding: 0 30px 30px;
}

footer {
  padding: 0 15px;
}

.chat {
  margin-bottom: 2rem;
}

address {
  font-style: normal;
}

address span {
  font-weight: bold;
}

.contact {
  padding-top: 40px;
  padding-bottom: 40px;
}

.footer-nav {
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0 auto;
}

.footer-left {
  font-weight: bold;
  float: left;
  padding: 10px;
  margin: 0;
}

.footer-right {
  text-transform: uppercase;
  font-weight: 800;
  font-size: 80%;
  float: right;
  padding: 10px;
  margin: 5px 0 0 0;
}

.footer-right p {
  padding: 10px;
}

/* Page elements */

.profile-pic img {
  width: 100%;
  height: auto;
}

.card img {
  width: 100%;
  height: auto;
}

.profile-pic {
  padding: 30px 60px 10px;
}

.img-wrapper {
  padding: 0 30px;
}

/* Magical changing footer nav */

.footer-nav-bigger {
  display: none;
}


/* Styles for larger screens */

@media (min-width: 768px) {
  nav li,
  .footer-nav-bigger li {
    background-color: whitesmoke;
    display: inline-block;
  }

  nav li {
    margin-top: 0;
  }

  header h1 {
    margin-bottom: 0;
  }

  .profile {
    padding: 20px;
  }

  .profile-pic {
    padding: 0;
    float: right;
    margin-left: 30px;
    max-width: 40%;
  }

  .profile p {
    text-align: left;
    margin-top: 0;
  }

  .portfolio {
    padding-left: 20px;
    padding-right: 20px;
  }

  .card {
    max-width: 49%;
    display: inline-block;
    vertical-align: top;
  }

  .img-wrapper {
    padding: 10px;
  }

  .chat {
    display: block;
    width: 68%;
    margin: auto;
    padding-bottom: 1rem;
  }

  .contact {
    padding-bottom: 3rem;
  }

  .footer-nav {
    display: none;
  }

  .footer-nav-bigger {
    display: block;
    padding-bottom: 20px;
  }

  .footer-right {
    margin: 5px 0 0 0;
    padding: 0;
  }

  .footer-nav-bigger li {
    display: inline-block;
    padding: 10px;
  }

}

@media (min-width: 1024px) {
  header h1 {
    float: left;
    margin-top: 10px;
  }

  nav {
    float: right;
  }

  nav li {
    display: inline-block;
    margin-top: 0;
  }

  header {
    padding: 10px 0;
  }

  .profile-pic {
    margin-left: 40px;
  }

  .profile {
    display: block;
    padding-top: 20px;
  }

  body {
    margin: 0 15px;
  }

  .card {
    max-width: 33%;
  }

  .card p {
    padding-left: 20px;
    padding-right: 20px;
  }

  .chat {
    width: 55%;
  }

  .contact {
    padding-bottom: 50px;
  }

}

/* Clearfix */

.clearfix::after {
	content: "";
	display: table;
	clear: both;
}
